<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Home</title>
    <% include ../common %>
    <!--<script src='https://www.google.com/recaptcha/api.js'></script> -->
</head>
<body data-spy="scroll" data-target=".navbar">
<% include ../menu.ejs%>

<br/><br/>
Contact3
</body>
</html>